.billItems{
   display:flex;
   flex-direction:row;
   margin-top: 40px;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.shippingDetails{

  margin-top: 10px;
}
hr{
  width: 100%;
  border-style: dotted; 
  margin-top: 5px;
}
p{
  margin-left: 50px;
}
tr{
  text-align: left;
}
#checkout{
  background-color:gold;
  border-style: none;
  border-radius: 15px;
  padding:12px;
  margin-bottom: 60px;
  width: 150px;
  margin-left: 130px;
}
.itemsImg img{
  height: 60px;
  width:60px;
  margin-left: -20px;
}
.itemsImg p{
margin-left: -10px;
font-size: x-small;
margin-top: -20px;
}
.fa,
.fas {
  display: grid;
  place-items: center;
  cursor: pointer;

}
.minusPlus{
display: flex;
  justify-content: flex-end;
  align-items: center;
}
.minusPlus button {
  cursor: pointer;
}
.quantity {

  width: 3rem;
  height: 2rem;
  box-sizing: border-box;
  text-align: center;
  margin: 7px;
  border-radius: 1rem;
  outline: none;
  background-color: transparent;
}
.minusPlus input:focus {
  outline: none;
}
.fa-trash-alt {
  color: #ed4848;
  margin-top: 20px;
}
.price h5{
        margin-top: 18px;
        margin-right:10px;
}
@media screen and (min-width:320px){

  #checkout{
    margin-right: 80px;
  }
  h1{
    margin-left: 20px;
  }

}
@media screen and (min-width:540px){
  
  #checkout{
    margin-right:180px;
  }
  .shippingDetails{
     margin-left: 60px;
  }
}
@media screen and (min-width:768px){

  .shippingDetails{
     margin-left: 180px;
  }
  #checkout{
    margin-left:10px;
  }
  h1{
    margin-right:160px;
  }

}
@media screen and (min-width:1024px){
  
  .shippingDetails{
     margin-left: 100px;
     margin-top: 120px;
  }
  h1{
    margin-bottom: 30px;
  }
  #checkout{
    margin-left:60px;
  }
}
@media screen and (min-width:1000px) and (max-width:2200px){
.shippingDetails{
     margin-left: 300px;
     
  }
  h1{
    margin-left:-130px;
  }

 #checkout{
    margin-left:-100px;
  }
  img{
    margin-right:250px;
  }
}
