.header{
          
          display: flex;
          flex-direction:row;
          justify-content: space-around; 
          flex-wrap: wrap; 
          color: rgb(224, 159, 6);
          border-bottom: rgba(114, 108, 108, 0.123) 1px solid;
          font-size: large;
          width: 100vw;
          height: 80px;
          z-index:99;
          width:100%;
          
}
.userStyle{
  margin-top: 50px;
 
}
h4{
  font-family: cursive;
  text-align: center;
  font-size: small;
}
.avatar{
  margin-right:-10px;
}
h2{
  font-size: medium;
}



@media only screen and (max-width : 480px){
.avatar{
  margin-right:-60px;
}

}
@media only screen and (max-width : 768px){
  .avatar{
  margin-right:-150px;
}
h2{
  font-size: large;
}
}
@media only screen and (max-width : 1024px){
.avatar{
  margin-right:-200px;
}
h2{
  font-size: xx-large;
}
}
@media only screen and (max-width : 1281px){
  .avatar{
  margin-right:-300px;
}
h2{
  font-size:2rem;
}
}
@media only screen and (max-width : 2200px){

.avatar{
  margin-right:-340px;
}
h2{
  font-size:2rem;
}
}
